body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.toolbar {
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;    
    background-color: #65256F;
    color: #fff;
}

.toolbar-text {
    color: #FFB700;
}

.text {
    color: #FFB700;
}

.toolbar-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    
    
}

.toolbar-flex a {
    text-decoration: none;
    color: #FFB700;
}


.menu {
    padding-left: 8rem;
    padding-right: 8rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    
}


.menu-list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem; 
    list-style: none;
}

.menu-list a {
    text-decoration: none;
    color: #000;
}

.btn {
    background-color: #65256F;
    color: #fff;
    border-radius: 4px;
    padding: 12px 30px;
}

.content  {    
    display: flex;
    background-image: url(./img/background.png);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-left: 130px;
    padding-top: 190px;
    justify-content: space-between;
}


.content-text h3 {
    font-size: 60px;
    font-weight: 500;
}


.content-text p{
    font-size: 25px;
    font-weight: 400;
}


.btn2 {
    background-color: #FFB700;
    padding: 17px 70px;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    
}


.content-icon {
    display: grid;
    position: absolute;
    margin-top: 6rem;
    gap: 2rem;
    right: 9rem;
}



.content-icon a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;



}

.text-service {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}

.Our-services h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    white-space: nowrap;
    padding: 10px;

}

.Our-services img {
    width: 100%;
}






.service-blocks {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-right: 5rem;
    padding-left: 5rem;
    
}

.service-block {
    box-shadow: 0 0 10px rgb(175, 175, 175);
    padding: 45px 15px;
    margin: 30px;
}

.service-blocks img {
    width: 150px;
}

.service-block h3 {
    padding: 0 70px;
    font-weight: 500;    

}
.service-block a {
    cursor: pointer;
}

.service-block P {
    padding-left: 35px;
    padding-right: 35px;
    color: #5E5E5E;
}










