*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.toolbar {
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;   
    align-items: center; 
    background-color: #65256F;
    color: #fff;
}

.toolbar-text {
    color: #FFB700;
}

.text {
    color: #FFB700;
}

.toolbar-flex{
    display: flex;
    justify-content: space-around;
   
    gap: 40px;
    padding: 10px 0;
    
    
}

.toolbar-flex a {
    text-decoration: none;
    color: #FFB700;
}


.menu {
    margin: 15px 0;
    padding-left: 8rem;
    padding-right: 8rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    
}


.menu-list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem; 
    list-style: none;
}

.menu-list a {
    text-decoration: none;
    color: #000;
}

.btn {
    display: flex;
    background-color: #65256F;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    padding: 12px 30px;
    margin-left: 1rem;
}

.content  {    
    display: flex;
    background-image: url(./img/background.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 190px;
    justify-content: space-between;
}


.content-text h3 {
    font-size: 60px;
    font-weight: 500;
    
}


.content-text p{
    font-size: 25px;
    font-weight: 400;
}


.btn2 {
    display: flex;
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: #FFB700;
    padding: 17px 70px;
    border-radius: 5px;
    margin-top: 40px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    
}


.content-icon {
    display: flex;
    position: absolute;
    margin-top: 6rem;
    gap: 2rem;
    right: 9rem;
}

.content-icon a:hover {
    transform: rotate(360deg);
    transition: .7s;
    color: rgb(89, 0, 255);
}


.content-icon a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;



}

.text-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.text-service h3 {
    font-size: 3rem;
    white-space: nowrap;
    text-align: center;
}


.Our-services img {
    width: 100%;

}

.service-blocks {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-left: 6rem;
    margin-right: 6rem;
    
}

.service-block {
    box-shadow: 0 0 10px rgb(175, 175, 175);
    padding: 45px 15px;
    margin: 30px;
}

.service-blocks img {
    width: 150px;
}

.service-block h3 {
    padding: 0 70px;
    font-weight: 500;    

}
.service-block a {
    cursor: pointer;
}

.service-block P {
    padding-left: 35px;
    padding-right: 35px;
    color: #5E5E5E;
}


.text-works h3 {
    font-size: 3rem;
    white-space: nowrap;
    text-align: center;
}
    
    
.work-service {
    
}


.works-block h1 {
    font-size: 3rem;
    white-space: nowrap;
    text-align: center;
   
}

.works-block img {
    width: 100%;
}

.works-block  {
   display: flex; 
   align-items: center;
   justify-content: space-between;
   
    
}



.work-block {
    display: flex;
    justify-content: space-evenly;
}
.work-block img {
    display: flex;
    
}


.work-block-1 {
    display: flex;
    
    justify-content: space-evenly;
}

.work-block-1 img {
    display: flex;
    
}


.btn-2 {
    display: flex;
    
    justify-content: center;
    margin-top: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 280px;
    padding-top: 10px;
    height: 40px;
    margin-left: 540px;
    background: #4400ff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 3px;

}

.btn-2:hover {
    cursor: pointer;
    background-color: rgb(13, 0, 59);
    transition: 0.7s;
}

.img1 {
    position: absolute;
    font-size: 25px;
    color: white;
    
}

.img2 {
    position: absolute;
    padding-top: 220px;
    padding-left: 370px;
    font-size: 25px;
    color: white;
    white-space: nowrap;
}

.text3 {
    position: absolute;
    padding-left: 725px;
    margin-top: 220px;
    font-size: 25px;
    color: white;
    white-space: nowrap;
    
}

.text4 {
    position: absolute;
    padding-left: 30px;
    padding-top: 220px;
    font-size: 25px;
    color: white;
   
}

.text5 {
    position: absolute;
    padding-left: 370px;
    padding-top: 220px;
    font-size: 25px;
    color: white;
    white-space: nowrap;

}

.text6 {
    position: absolute;
    padding-left: 725px;
    margin-top: 220px;
    font-size: 25px;
    color: white;
    white-space: nowrap;
    
}



.Production {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.text-Production {
     font-size: 3rem;
    white-space: nowrap;
}


.productions {
    display: flex;
    justify-content: space-around;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 3rem;
    gap: 10px;

}


.img-1 {
    width: 348px;
    height: 270px;
}

.img-2  {
    width: 348px;
    height: 270px;
}
.img-3 {
    width: 348px;
    height: 270px;
}



.our-block {
  
}






@media (max-width: 480px){
    .toolbar {
        padding: 0;
        display: flex;
        align-items: center;
    }

    .foto {
        height: 80vh;
    }

    .toolbar {
        font-size: 11px;
    }

    .toolbar-flex {
        display: none;
    }

    .menu {
        display: none;
    }
    .btn2 {
        margin-top: 100px;
    }

    .content {
        padding: 0;
        text-align: center;
        display: block;
        height: 100vh;
    }
    
    .content-text h3 {
        padding: 0;
        text-align: center  ;
        font-size: 40px;
    }

    .content-text p {
        margin: 0;
        
        font-size: 24px;
    }

    .content-icon{
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;
        
    }


}





